/* 
    Dashboard Stylesheet | version 0.1 Beta | Amigos,Inc./Intelligent Resources Company
    Created on : Jan 13, 2019, 12:19:19 PM
    Author     : Tanmoy Sen Gupta
*/


body{
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none; 
}

a :active :focus :visited{
    color: #1e78ff; 
}

a:hover{
    color: #1e78ff; 
}

.content-section{
    padding-left: 50px;
    padding-right: 50px;    
}

.link-box{
    display: block;
    border-radius: 10px;
    min-height: 33.33333333% ;
    padding: 10px;  
    border: 1px solid #7a7a7a ; 
    margin: 10px;
    background-color: white;
}
.box{
    display: block;
    border-radius: 20px;
    min-height: 33.33333333% ;
    padding: 10px;  
    border: 1px solid #1e78ff; 
    margin: 10px;
    background-color: white;
}